<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelliGuard-IOT</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>    <style>
        body {
            font-family: Arial;
            margin: 0;
            padding: 5px;
            color: #555;
            height: 100vh;
        }
        .highcharts-figure, .highcharts-data-table table {
            min-width: 320px;
            max-width: 800px;
            margin: 1em auto;
            min-height: 200px;
            max-height: 600px;
        }
        .highcharts-container {
            min-width: 320px;
            max-width: 800px;
            margin: 1em auto;
            min-height: 200px;
            max-height: 600px;
        }
        h2 {
            text-align: center;
        }
        /* Añadido: Estilos para el navbar */
        nav {
            margin-bottom: 20px;
        }
        .contenedor {
            margin: 20px;
        }
    </style>
</head>
<body>
    <!-- Añadido: Navbar de Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Plataforma de IntelliGuard-IOT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/data2">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="graficoHistoricoLink" href="#">Grafico histórico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="contenedor">
        <h1>Bienvenido, {{ username }}!</h1>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Control Luces</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Control calefacción</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active p-3" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchLucesAutom" unchecked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Habilitar encendido/apagado de luces automáticamente</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="onOffLucesSwitch" disabled checked>
                    <label class="form-check-label" for="flexSwitchCheckDisabled">Encendido/apagado de luces</label>
                </div>
            </div>
            <div class="tab-pane fade p-3" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCalefaccionAutom" unchecked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Habilitar encendido/apagado de la calefacción</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="onOffcalefaccionSwitch" disabled checked>
                    <label class="form-check-label" for="flexSwitchCheckDisabled">Encendido/apagado de la calefacción</label>
                </div>
            </div><!-- 
            <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div> -->
        </div>
                                <!-- Añadido: Botón para abrir el modal -->
        <button type="button" class="btn btn-primary" onclick="mostrarModal('Notificación de prueba')">
            Notificar Alerta
        </button>

        <!-- Añadido: Botones para enviar datos al servidor -->
        <button type="button" class="btn btn-success" onclick="mostrarModal('Apagando Luces')">Apagar Luces</button>
        <button type="button" class="btn btn-danger" onclick="enviarDatos('Encendiendo Calefacción')">Encender Calefacción</button>
        <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
        
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header bg-danger text-light">
                    <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </svg>
                <strong class="me-auto">Notificación</strong>
                <small>ahora mismo</small>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    La puerta ha sido abierta.
                </div>
            </div>
        </div>
        <!-- Añadido: Modal para notificar alertas -->
        <div class="modal" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">Mensaje</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Añadido: Contenido del modal -->
                        <p id="mensajeModal"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>

        <h2>Datos de luz y temperatura en Tiempo Real</h2>
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
        <hr>
    </div>

    <!-- Añadido: Script para enviar datos al servidor -->
    <script>
        var notificacionPuerta = true;
        var switchCalefaccion = false;
        var switchLuces = true;
        var switchCalefaccionAuto = false;
        var switchLucesAuto = false;
        const switchLucesAutom = document.getElementById('switchLucesAutom');
        const switchCalefaccionAutom = document.getElementById('switchCalefaccionAutom');
        const onOffLucesSwitch = document.getElementById('onOffLucesSwitch');
        const onOffcalefaccionSwitch = document.getElementById('onOffcalefaccionSwitch');
        const triggerTabList = document.querySelectorAll('#myTab button')
        const highchartsFigure = document.querySelector('.highcharts-figure')

        document.getElementById('graficoHistoricoLink').addEventListener('click', () => {
            fetch('/graficoHistorico', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Error al enviar el dato al servidor');
                }
                // Maneja la respuesta del servidor si es necesario
                return response;
            }).then(data => {
                console.log('Dato enviado correctamente:', data);
            }).catch(error => {
                console.error('Error:', error);
            }).finally(() => {
                document.getElementsByTagName('body')[0].innerHTML = data;
            })
        });

        triggerTabList.forEach(triggerEl => {
            const tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', event => {
                event.preventDefault()
                tabTrigger.show()
            })
        })

        const toastTrigger = document.getElementById('liveToastBtn')
        const toastLiveExample = document.getElementById('liveToast')

        if (toastTrigger) {
            toastTrigger.addEventListener('click', () => {
                const toast = new bootstrap.Toast(toastLiveExample)

                toast.show()
            })
        }
        if (switchLucesAutom) {
            switchLucesAutom.addEventListener('change', () => {
                if (switchLucesAutom.checked) {
                    onOffLucesSwitch.disabled = false;
                    switchLucesAuto = true;
                } else {
                    onOffLucesSwitch.disabled = true;
                    switchLucesAuto = false;
                }
                enviarDatos();
            });
        }
        if (switchCalefaccionAutom) {
            switchCalefaccionAutom.addEventListener('change', () => {
                if (switchCalefaccionAutom.checked) {
                    onOffcalefaccionSwitch.disabled = false;
                    switchCalefaccionAuto = true;
                } else {
                    onOffcalefaccionSwitch.disabled = true;
                    switchCalefaccionAuto = false;
                }
                enviarDatos();
            });
        }
        if (onOffLucesSwitch) {
            onOffLucesSwitch.addEventListener('change', () => {
                if (onOffLucesSwitch.checked) {
                    switchLuces = true;
                    mostrarModal('Encendiendo Luces');
                } else {
                    mostrarModal('Apagando Luces');
                    switchLuces = false;
                }
                enviarDatos();
            });
        }
        if (onOffcalefaccionSwitch) {
            onOffcalefaccionSwitch.addEventListener('change', () => {
                if (onOffcalefaccionSwitch.checked) {
                    mostrarModal('Encendiendo Calefacción');
                    switchCalefaccion = true;
                } else {
                    mostrarModal('Apagando Calefacción');
                    switchCalefaccion = false;
                }
                enviarDatos();
            });
        }

        var peticion = true; // Para evitar peticiones simultáneas
        function enviarDatos() {
            // Puedes enviar el dato al servidor aquí, por ejemplo, usando fetch
            if (peticion){
                peticion = false;
                fetch('/api/enviar_datos', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    
                    body: JSON.stringify({"lucesAutom": switchLucesAuto.toString(), "calefaccionAutom": switchCalefaccionAuto.toString(), "onOffLuces": switchLuces.toString(), "onOffCalefaccion": switchCalefaccion.toString()}),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Error al enviar el dato al servidor');
                    }
                    // Maneja la respuesta del servidor si es necesario
                    return response.json();
                })
                .then(data => {
                    console.log('Dato enviado correctamente:', data);
                })
                .catch(error => {
                    console.error('Error:', error);
                })
                .finally(() => {
                    enviarDatosPeriodicos();
                    peticion = true;
                });
            }
        }

        function enviarDatosPeriodicos(){
            setTimeout(function() {
                actualizarDatosHtml();
                console.log("2 segundos despues");
            }, 1500);
            console.log('Fetch realizado');
        }
        enviarDatosPeriodicos();
        
        function mostrarModal(dato) {
            var myModal = new bootstrap.Modal(document.getElementById('alertModal'), {keyboard: false});
            myModal.show();
            document.getElementById('mensajeModal').textContent = dato;
            setTimeout(function() {
                myModal.hide();
            }, 1000);
        }
    </script>

    <script src="/static/datos.js"></script>
    <script src="/static/graficosHicharts.js"></script>
</body>
</html>
