<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización en Tiempo Real</title>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <style>
        body {
            font-family: Arial;
            margin: 80px 100px 10px 100px;
            padding: 0;
            color: #555;
            align-items: center;
        }
        .contenedor {
            height: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="contenedor">
        <h1>Visualización en Tiempo Real Sensor de luz y temperatura</h1>
        <div id="chartLuz"></div>
        <div id="chartTemperatura"></div>
        <br>
        <hr>
        <div class="ld-form">
            <div class="ld-row">
                <label class="ld-label">
                    Habilitar Actualización Automática
                </label>
                <input type="checkbox" checked="checked" id="enablePolling" />
            </div>
            <div class="ld-row">
                <label class="ld-label">
                    Frecuencia de Actualización (segundos)
                </label>
                <input class="ld-time-input" type="number" value="2" id="pollingTime" />
            </div>
        </div>
    </div>

    <script>
        var datoLuz = 0;
        var datoTemperatura = 0;

        // Configuración del gráfico de Highcharts para Luz
        const chartLuz = Highcharts.chart('chartLuz', {
            chart: {
                type: 'spline',
            },
            title: {
                text: 'Datos en Tiempo Real - Luz'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxPadding: 0.1
            },
            yAxis: {
                title: {
                    text: 'Valor de Luz'
                },
                plotLines: [
                    {
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }
                ]
            },
            series: [{
                name: 'Luz',
                lineWidth: 2,
                data: []
            }]
        });

        // Configuración del gráfico de Highcharts para Temperatura
        const chartTemperatura = Highcharts.chart('chartTemperatura', {
            chart: {
                type: 'spline',
            },
            title: {
                text: 'Datos en Tiempo Real - Temperatura'
            },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150,
                maxPadding: 0.1
            },
            yAxis: {
                title: {
                    text: 'Valor de Temperatura'
                },
                plotLines: [
                    {
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }
                ]
            },
            series: [{
                name: 'Temperatura',
                lineWidth: 2,
                data: []
            }]
        });

        // Función para realizar solicitudes HTTP periódicas y actualizar los gráficos
        function fetchDataAndUpdateCharts() {
            // Coloca la URL correcta de la API para obtener los datos
            const apiUrl = '/api/get_last_data';

            fetch(apiUrl)
                .then(handleResponse)
                .then(updateCharts)
                .catch(handleError)
                .finally(scheduleNextRequest);
        }

        function handleResponse(response) {
            if (!response.ok) {
                throw new Error(`Error de red: ${response.status}`);
            }
            return response.json();
        }

        function updateCharts(data) {
            const { time, medicionLuz, medicionTemperatura } = JSON.parse(data);
            datoLuz = medicionLuz;
            datoTemperatura = +medicionTemperatura.toFixed(2);

            const x = (new Date()).getTime();

            // Actualiza el gráfico de Luz
            chartLuz.series[0].addPoint([x, datoLuz], true, true);

            // Actualiza el gráfico de Temperatura
            chartTemperatura.series[0].addPoint([x, datoTemperatura], true, true);

            console.log(JSON.parse(data));
        }

        function handleError(error) {
            console.error('Error al obtener datos:', error);
            datoLuz = null;
            datoTemperatura = null;
        }

        function scheduleNextRequest() {
            setTimeout(fetchDataAndUpdateCharts, 1000); // Realiza la siguiente solicitud después de un segundo
        }

        // Inicia la función para realizar solicitudes HTTP periódicas
        fetchDataAndUpdateCharts();
    </script>
</body>
</html>
