<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualización en Tiempo Real</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <style>
        body {
            font-family: Arial;
            margin: 80px 100px 10px 100px;
            padding: 0;
            color: #555;
            align-items: center;
        }
        .contenedor {
            height: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
   
</head>
<body>
    <div class="contenedor">

        <h1>Visualización en Tiempo Real Sensor de luz</h1>
        <canvas id="real-time-chart"></canvas>
        <br>
        <hr>
    
        <figure class="highcharts-figure">
            <div id="container"></div>
        </figure>
        <hr>
        <div class="ld-form">
            <div class="ld-row">
                <label class="ld-label">
                    Habilitar Actualización Automática
                </label>
                <input type="checkbox" checked="checked" id="enablePolling" />
            </div>
            <div class="ld-row">
                <label class="ld-label">
                    Frecuencia de Actualización (segundos)
                </label>
                <input class="ld-time-input" type="number" value="2" id="pollingTime" />
            </div>
        </div>

    </div>

    <script>
        var datoLuz = 0;
        var datoTemperatura = 0;
        var updateChartInterval;
        var updateInterval = 2000;
        var realTimeChart;
        var highchartsChart;

        document.addEventListener('DOMContentLoaded', function () {
            const enablePollingCheckbox = document.getElementById('enablePolling');
            const pollingTimeInput = document.getElementById('pollingTime');

            enablePollingCheckbox.addEventListener('change', handleEnablePollingChange);
            pollingTimeInput.addEventListener('change', handlePollingTimeChange);

            function handleEnablePollingChange() {
                if (enablePollingCheckbox.checked) {
                    fetchDataAndUpdateChart();
                    updateChartInterval = setInterval(fetchDataAndUpdateChart, updateInterval);
                    startHighchartsInterval();
                } else {
                    clearInterval(updateChartInterval);
                    stopHighchartsInterval();
                }
            }

            function handlePollingTimeChange() {
                const newInterval = parseInt(pollingTimeInput.value) * 1000;
                updateInterval = newInterval;
                if (enablePollingCheckbox.checked) {
                    fetchDataAndUpdateChart();
                    clearInterval(updateChartInterval);
                    updateChartInterval = setInterval(fetchDataAndUpdateChart, updateInterval);
                }
            }

            // Configurar el gráfico en el canvas
            var ctx = document.getElementById('real-time-chart').getContext('2d');
            realTimeChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: 'Datos del Sensor',
                        data: [],
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        fill: false
                    }]
                },
                options: {
                    scales: {
                        x: [{
                            type: 'realtime',
                            realtime: {
                                duration: 20000,
                                refresh: 1000,
                                delay: 1000
                            }
                        }]
                    }
                }
            });

            function fetchDataAndUpdateChart() {
                const apiUrl = 'http://34.239.209.214:8085/api/get_last_data';

                fetch(apiUrl)
                    .then(handleResponse)
                    .then(updateChart)
                    .catch(handleError)
                    .finally(scheduleNextRequest);
            }

            function handleResponse(response) {
                if (!response.ok) {
                    throw new Error(`Error de red: ${response.status}`);
                }
                else {
                    return response.json();
                }
            }

            function updateChart(data) {
                const { time, medicionLuz, medicionTemperatura } = JSON.parse(data);
                datoLuz = medicionLuz;
                datoTemperatura = +medicionTemperatura.toFixed(2);

                realTimeChart.data.labels.push(time);
                realTimeChart.data.datasets[0].data.push(medicionLuz);
                realTimeChart.update();
                console.log(JSON.parse(data));
            }

            function handleError(error) {
                console.error('Error al obtener datos:', error);
                datoLuz = null;
                datoTemperatura = null;
            }

            function scheduleNextRequest() {
                setTimeout(fetchDataAndUpdateChart, 1000);
            }

            fetchDataAndUpdateChart();

            // Configuración del gráfico de Highcharts
            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            highchartsChart = Highcharts.chart('container', {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: 'Grado de Temperatura en Tiempo Real'
                },
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxPadding: 0.1
                },
                yAxis: {
                    title: {
                        text: 'Grado de Temperatura (°C)'
                    },
                    plotLines: [
                        {
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }
                    ]
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br/>',
                    pointFormat: '{point.x:%d-%m-%Y %H:%M:%S}<br/>{point.y:.2f} °C'
                },
                legend: {
                    enabled: false
                },
                exporting: {
                    enabled: false
                },
                series: [
                    {
                        name: 'Temperatura',
                        data: (function () {
                            // Generate an array of data for the initial plot
                            const time = (new Date()).getTime();
                            const data = [];
                            for (let i = -19; i <= 0; i += 1) {
                                data.push({
                                    x: time + i * 1000,
                                    y: 0
                                });
                            }
                            return data;
                        })()
                    }
                ]
            });

            function startHighchartsInterval() {
                highchartsChart.series[0].addPoint([new Date().getTime(), datoTemperatura], true, true);
                highchartsChart.series[0].addPoint([new Date().getTime(), datoTemperatura], true, true);
                setInterval(function () {
                    const x = (new Date()).getTime();
                    const y = datoTemperatura;

                    highchartsChart.series[0].addPoint([x, y], true, true);
                }, 1000);
            }

            function stopHighchartsInterval() {
                clearInterval(highchartsChart.interval);
            }
        });
    </script>
</body>
</html>
